@font-face {
  font-family: 'CursiveMarker';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HatchMarker';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/RubikMarkerHatch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}
